.navbar{
    display: flex;
   margin-left: 20px;
   margin-right: 20px;
}
.left{
    display: flex;
    align-items: center;
   gap: 30px;
}
a{
    text-decoration: none;
}
.item{
    display: flex;
    align-items: center;
    
}